.sidebar {
	width: 250px;
	padding: 10px;
	border: 1px solid #000;
	text-transform: uppercase;
}

.nav-list__item {
	margin-bottom: 10px;
	border: 1px solid rgb(68, 68, 68);
	
}

.nav-list__link {
	display: block;
}