aside.sidebar
	ul.nav-list
		li.nav-list__item
			a.nav-list__link(href="#") link 1
		li.nav-list__item
			a.nav-list__link(href="#") link 2
		li.nav-list__item
			a.nav-list__link(href="#") link 3
		li.nav-list__item
			a.nav-list__link(href="#") link 4
		li.nav-list__item
			a.nav-list__link(href="#") link 5
		li.nav-list__item
			a.nav-list__link(href="#") link 6
		li.nav-list__item
			a.nav-list__link(href="#") link 7
		li.nav-list__item
			a.nav-list__link(href="#") link 8
		li.nav-list__item
			a.nav-list__link(href="#") link 9
		li.nav-list__item
			a.nav-list__link(href="#") link 10