header.header 
	.container
		.home-button
			button.btn 
				a.link(href="index.html") home page
		.buttons.header-menu
			button.btn 
				a.link(href="fixed.html") fixed design
			button.btn
				a.link(href="fluid.html") fluid design
			button.btn
				a.link(href="adaptive.html") adaptive design
			button.btn
				a.link(href="responsive.html") responsive design