block variables

doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		//- favicon block start
		//- favicon block end
		link(rel='stylesheet' href='assets/styles/vendor.min.css')
		link(rel='stylesheet' href='assets/styles/app.min.css')
	body
		.wrapper
			include common/header.pug
			.content
				.container
					h1 Page title
				.container
					include common/aside.pug
					main
						article
							h2 Article title
							.text 
								img(src="assets/images/Гетеропода-с-добычей.jpg", alt="")
								| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium nam veniam odit et quis perspiciatis est dolorem a, enim neque reiciendis rem doloribus tempore, harum culpa ducimus magni. Velit consequuntur dolorem explicabo ipsum laborum qui recusandae exercitationem ducimus nulla illum, mollitia nemo error minus dolore quam eaque minima fugiat quae facere at in veritatis sapiente reiciendis enim. Repellendus quisquam aut omnis debitis quaerat sint dolore! Neque doloribus adipisci aspernatur tempora omnis beatae est earum, repellendus quis, impedit modi dignissimos aut laborum vel asperiores officiis veniam hic sapiente ipsa minus ad animi cumque magnam. Alias deserunt rem temporibus, harum dignissimos ab.
						article
							h2 Article title
							.text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos necessitatibus vitae, unde illum ipsum, commodi quas fugit, exercitationem a nihil maxime quo voluptatibus quis reprehenderit ut sed expedita itaque sunt quasi. Deleniti consequatur iusto consectetur aut tempore dicta quasi quis, veniam, illo pariatur accusantium quas maiores ut rem? Optio odio doloribus nemo autem eligendi rerum cumque molestias hic culpa ex exercitationem possimus, sapiente atque aperiam porro ipsam ab debitis perspiciatis dolores quae voluptatum fuga, perferendis alias! Temporibus ratione voluptas ea maxime distinctio reprehenderit porro, iusto qui molestiae assumenda repellat autem velit quidem quod necessitatibus itaque officiis quos debitis corporis aspernatur soluta praesentium. Sequi ea quasi voluptatum incidunt repudiandae soluta veritatis fugiat praesentium quisquam quis necessitatibus placeat qui molestiae rem ut distinctio ratione eum impedit, suscipit esse tenetur similique perferendis, ipsa aliquid! Laudantium, pariatur. Sint labore harum voluptates delectus amet rem, quidem doloremque laboriosam eaque vero hic illo, aliquam adipisci expedita aspernatur saepe porro cumque consectetur, veniam voluptatum fuga excepturi sapiente error. Quibusdam quos tenetur itaque, tempora cumque nisi similique totam error beatae eum doloremque laborum, libero distinctio maxime voluptatibus hic impedit commodi numquam quod! Harum assumenda, eaque ipsum consequuntur facere soluta placeat dolore minima itaque tempora architecto labore corrupti fugit?
						article
							h2 Article title
							.text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos necessitatibus vitae, unde illum ipsum, commodi quas fugit, exercitationem a nihil maxime quo voluptatibus quis reprehenderit ut sed expedita itaque sunt quasi. Deleniti consequatur iusto consectetur aut tempore dicta quasi quis, veniam, illo pariatur accusantium quas maiores ut rem? Optio odio doloribus nemo autem eligendi rerum cumque molestias hic culpa ex exercitationem possimus, sapiente atque aperiam porro ipsam ab debitis perspiciatis dolores quae voluptatum fuga, perferendis alias! Temporibus ratione voluptas ea maxime distinctio reprehenderit porro, iusto qui molestiae assumenda repellat autem velit quidem quod necessitatibus itaque officiis quos debitis corporis aspernatur soluta praesentium. Sequi ea quasi voluptatum incidunt repudiandae soluta veritatis fugiat praesentium quisquam quis necessitatibus placeat qui molestiae rem ut distinctio ratione eum impedit, suscipit esse tenetur similique perferendis, ipsa aliquid! Laudantium, pariatur. Sint labore harum voluptates delectus amet rem, quidem doloremque laboriosam eaque vero hic illo, aliquam adipisci expedita aspernatur saepe porro cumque consectetur, veniam voluptatum fuga excepturi sapiente error. Quibusdam quos tenetur itaque, tempora cumque nisi similique totam error beatae eum doloremque laborum, libero distinctio maxime voluptatibus hic impedit commodi numquam quod! Harum assumenda, eaque ipsum consequuntur facere soluta placeat dolore minima itaque tempora architecto labore corrupti fugit?
					include common/aside.pug
	include common/footer.pug